/* LOGIN */
.logo_contenedor{
    background-color: #2C53C5;
    padding: 5px;
    padding-right: 28px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}
.logo_img{
    width: 100%;
}
.body_login{
    background-image: url('../img/login/fondo_‎bicicleta_3.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.bg-login-image{
    background-image: url('../img/login/fondo_‎bicicleta_3.jpg') !important;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.sombra_lateral_derecha{
    -webkit-box-shadow: 10px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 0px 5px 0px rgba(0,0,0,0.75);
}
/* BARRA NAVEGACION LATERAL */
.logo_navegacion_lateral{
    width: 100%;
}
/*MODULO MI UBICACION - COMERCIANTE*/
.mapa_ubicacion_comerciante{
    width: 85vw;
    height: 100vh;
}

/* MODULO NUEVO PRODUCTO - COMERCIANTE */

.nuevo_producto_img{
    width: 100%;
}